__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

env/
venv/
.venv/
.env
.env.*

.git/
.gitignore
.vscode/
.idea/
.DS_Store

node_modules/

staticfiles/
staticfiles_collected/
media/
db.sqlite3
*.sqlite3
*.log
django.log
debug.log
media_debug.log
celerybeat-schedule
celerybeat.pid
